<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>


    <div class="container-form">
      <h3 class="preuve-title">Tu es étudiant ? The Hacking Project est fait pour toi !</h3>
      <ul class="preuve-container">
        <li class="preuve-link">Tu viens d'avoir ton baccalauréat et tu veux découvrir le code ?</li>
        <li class="preuve-link">Tu sors d'une école de commerce ou de management et tu veux comprendre les métiers du digital ?</li>
        <li class="preuve-link">Tu sors d'une formation en communication ou en économie et tu veux comprendre le monde professionnel ?</li>
      </ul>
      <p class="preuve-p">The Hacking Project permet d'apprendre à coder et de découvrir les métiers du digital en seulement 12 semaines ! Cette formation est gratuite !</p>
      <button type="button" class="btn btn-secondary btn-lg"><a href="/je-veux-y-participer">Ca m'intéresse !</a></button>


    </div>






  </body>

</html>
