<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>


    <div class="container-form">
      <h3 class="preuve-title">Qu'est-ce que The Hacking Project</h3>
      <ul class="preuve-container">
        <li class="preuve-link">Tu es étudiant.e ou jeune diplômé.e tu veux découvrir le code ?</li>
        <li class="preuve-link">Tu veux comprendre les métiers du digital ?</li>
        <li class="preuve-link">Tu veux te réorienter dans ta carrière professionnelle ?</li>
      </ul>
      <p class="preuve-p">The Hacking Project permet d'apprendre à coder et de découvrir les métiers du digital en seulement 12 semaines ! Cette formation est gratuite !</p>
      <p class="preuve-p">The Hacking Project s'appuie sur une communauté soudée pour enseigner de manière innovante et pertinente.</p>
      <button type="button" class="btn btn-secondary btn-lg"><a href="/je-veux-y-participer">Ca m'intéresse !</a></button>


    </div>






  </body>

</html>
