<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>


    <div class="container-form">
      <h3 class="form-title">S'inscrire à la Newsletter</h3>
      <form class="form-inline">
        <input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Prénom Nom">
        <input type="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName1" placeholder="Email">
        <button type="button" class="btn btn-primary outline">Je m'inscris !</button>
      </form>
      <p class="recommendation">S'inscrire à la newsletter de THP, c'est comme s'inscrire à la newsletter de Steve jobs, Elon Musk et Bill Gates réunis.</p>
    </div>






  </body>

</html>
