<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>


    <div class="container-form">
      <h3 class="preuve-title">Vous faîtes partie de la mairie d'une commune ?</h3>
      <ul class="preuve-container">
        <li class="preuve-link">La formation est accessible dans toute la France !</li>
        <li class="preuve-link">La formation est gratuite !</li>
        <li class="preuve-link">La formation se destine à tous : étudiants comme personnes en reconversion professionnelle !</li>
      </ul>
      <p class="preuve-p">The Hacking Project permet d'apprendre à coder et de découvrir les métiers du digital en seulement 12 semaines ! N'hésitez pas à communiquer auprès de vos citoyens.</p>
      <button type="button" class="btn btn-secondary btn-lg"><a href="/je-veux-y-participer">Ca m'intéresse !</a></button>


    </div>






  </body>

</html>
