<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>

    <div class="container-who">
    <h1>Une équipe incroyable pour t'aider à te dépasser !</h1>

      <ul class="who-list">
        <li class="who-link">Tu aimerais réorienter ta carrière professionnelle ?</li>
        <li class="who-link">Tu aimerais apprendre à coder ou bien coder ton propre projet ?</li>
        <li class="who-link">Tu es disponible 3 mois à plein temps ?</li>
      </ul>

      <h5 class="who-link">Alors n'hésite plus et inscris-toi à cette formation efficace, passionnante et gratuite !</h5>
      <button type="button" class="btn btn-secondary btn-lg"><a href="/je-veux-y-participer">Ca m'intéresse !</a></button>

    </div>






  </body>

</html>
